# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual Env
.venv/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Env
.env
.env.*

# Modal
.modal/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/
